.main-btn {
  @include flex-center;
  gap: 5px;
  width: fit-content;
  padding: 7px 17px;
  border-radius: 4px;
  border: 1px solid $main-color;
  font-size: 13px;
  font-weight: 500;
  color: $white;
  background-color: $main-color;
  transition: $main-transition;
  &:hover {
    background-color: $main-color-light;
    color: $white;
  }
}
